body{
    margin:0;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
h1{
    text-align: center;
    margin-top: 20px;
}
form{
    text-align: center;
    margin-top: 20px;

}
table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: azure;
}
table, th, td{
    padding: 10px;
    text-align: center;
}
th,td{
    padding: 10px;
    text-align: center;
}
button{
    padding: 5px 10px;
    background-color: blue;
    color: azure;
    border:none;
    cursor:pointer;
}
button:hover{
    background-color: red;
}
